arcade==3.3.3
ast_serialize==0.5.0
attrs==26.1.0
cffi==2.0.0
cfgv==3.5.0
distlib==0.4.3
filelock==3.29.3
identify==2.6.19
librt==0.11.0
mypy==2.1.0
mypy_extensions==1.1.0
nodeenv==1.10.0
packaging==26.2
pathspec==1.1.1
pillow==11.3.0
platformdirs==4.10.0
pre_commit==4.6.0
pycparser==3.0
pyglet==2.1.14
pymunk==6.9.0
python-discovery==1.4.2
pytiled_parser==2.2.9
PyYAML==6.0.3
ruff==0.15.17
tomli==2.4.1
typing_extensions==4.15.0
virtualenv==21.4.3
